.profileContainer {
  width: 250px;
  height: 250px;
  position: relative;
  z-index: 1;
  border: 5px solid var(--border-color);
  background-color: var(--color-secondary);
  border-radius: 50%;
  margin: auto;
  background-image: url("../../assets/images/profile-min.jpeg");
  background-size: cover;
  background-position: right;
}