.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  flex: 1;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description h1,
.description h2 {
  font-weight: 400;
}

.description h1 {
  font-size: 4rem;
}

.description h2 {
  font-size: 2.5rem;
}

@media screen and (max-width: 767px) {
  .description h1 {
    font-size: 3rem;
  }
  .description h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .main {
    padding: 3rem;
  }
  .description {
    justify-content: flex-start;
  }
  .description h1 {
    font-size: 1.5rem;
  }
  .description h2 {
    font-size: 1rem;
  }
}
